*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/mrayer/photohunt/Keys.java
/app/src/debug/res/values/google_maps_api.xml
/app/src/main/res/values/google_maps_api.xml
